
    #contenedor-cards{
        display:grid;
        /*5 columnas de igual tamaño por defecto*/
        grid-template-columns: repeat(5,1fr);
        gap:20px;
        margin-top: 30px;
    }

    /*Responsividad:
    cuando la ventana mide 1000px o menos cambia a 3 columnas
    */
    @media (max-width:1000px){
        #contenedor-cards{
            grid-template-columns: repeat(3,1fr);

        }
    }

    /* Estilo para cada tarjeta */
    .card {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        overflow: hidden; /* Para que la imagen no se salga de los bordes redondeados */
        cursor: pointer;
        transition: transform 0.2s; /* Efecto suave al pasar el mouse */
        text-align: center;
        padding-bottom: 10px;
    }

body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        padding: 20px;
    }